
body{
    background-color: #E5E5E5;
    width: 1024px;
    margin: 0 auto;

}

/*titres et barres oranges*/
h1{
    font-size: 72px;
    color: #FF6738;
    width: 30%;
    font-family: 'Francois One', sans-serif;
    line-height: 102.1px;
    font-weight: 400;
    text-transform: uppercase;
}

h2{
    font-size: 34px;
    color:  #FF6738;
    font-family: 'Francois One', sans-serif;
    line-height: 48.21px;
    font-weight: 400;
}


h3{
    font-size: 48px;
    color: #FF6738;
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h4{
    font-size: 36px;
    color: #FF6738;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding-bottom: 20px;
}

/*polices*/

p{
    font-size: 14px;
    line-height: 22.74px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: justify;
}

/*header*/

header{
    background-color: #FFD59E;
}

#entete{
    height: 147px;
}

#effix-header{
    padding-left: 27px;
    padding-top: 9px;
    float: left;
}

.orange-mince{
    background-color:  #FF6738;
    min-width: 676px;
    height: 9px;
}

#wrapper-ressource{
    float: right;
    padding: 30px 0 0 0;
}

header > h1, #wrapper-ressource{
    display: inline-block;
}

nav{
    background-color: #FF6738;
    height: 46px;
}

#menu{
    padding-left: 74px;
}

nav > ul > li{
    display: inline-block;
    padding: 13px 0 13px 14px;
}

a{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover{
    color: #C4C4C4;
}

/*image étudiant*/

#etudiant{
    height: 451.2px;
    padding-bottom: 19px;
}

/*Section Effix est la pour vous*/

#effix{
    padding-bottom: 38px;
}


#portrait{
    width: 296.34375px;
    height: 327px;
    float: left;
}

#titre-jaune{
    color: #FFA938;
    padding-bottom: 0;
}


#article-effix{
    width: 671px;
    height: 297px;
    float: right;
}

#article-effix > p{
    padding: 15px 28px 18px 0;
    line-height: 25px;
}

/*le fondateur*/

.clear{
    clear: both;
}

#fondateur{
    margin-top: 38px;
 }

#image-fondateur{
    background: url(../images/fondateur.jpg) top left/1031px;
    width: 1024px;
    height: 364px;
}

#titre-fondateur{
    position: relative;
    text-transform: uppercase;
    top: 311px;
    margin-left: 696px;
}

#jaune{
    background-color: #FFD59E;
}
#jaune-droite, #jaune-gauche{
    display: inline-block;
    width: 40%;
}

#jaune-gauche{
    padding: 32px 11px 35px 85px;
}

#jaune-droite{
    padding: 32px 85px 35px 11px;
}

/*Nos services*/

#services{
    padding-top: 42px;
}

#services > h3{
    margin-left: 71px;
    padding-bottom: 38px;
}

.bloc-services{
    height: 295px;
    padding-bottom: 43px;
}

#orange-services{
    background-color: #FF6738;
    width: 638px;
    height: 54px;
    margin-left: 28px;
}

#services > h3, #orange-services{
    display: inline-block;
}

.texte-gauche, .image-droite{
    display: inline-block;
}

.image-droite{
    float: right;
}

.image-gauche, .image-droite{
    width: 502px;
    height: 292px;    
}

.texte-gauche, .texte-droite{
    width: 502px;
    height: 286px;
}

.texte-gauche > p{
    padding-left: 18px;
}
.texte-gauche > h4{
    padding-left: 18px;
}

.texte-droite{
    float: right;
}

.texte-droite > p{
    padding-right: 28px;
}

/*tableau*/

#tarifs{
    padding-bottom: 46px;
}

#orange-tarifs{
    background-color: #FF6738;
    width: 674px;
    height: 54px;
    margin-right: 25px;
    float: left;   
}


table{
    background-color:  #FFD59E;
    border: 3px solid black;
}

th{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: #856727;
    height: 40px;
    padding-top: 10px;
    border: 2px solid black; 
}

td{
    color: #000000;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 1px solid black;
    padding: 10px;
    min-width: 100px; 
}

.colonne-services{
    border: 0; 
    background-color: #FF7F00;
}


.categorie{
border: 0;
width: 202px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 18px;
color: #000000;
}

.colspan{
    border: 0;
}

/*formulaire*/

#wrapper-contact{
    padding: 18px 0 27px 0;
}

#orange-contact{
    width: 571px;
    height: 54px;
    background-color: #FF6738;
}

#wrapper-contact > h3, #orange-contact{
    display: inline-block;
} 

#wrapper-contact > h3{
    margin-left: 82px;
}

#orange-contact{
    margin-left: 18px;
}

form{
    margin-left: 20px;
}

input, textarea{
    border: 0;
    background-color: #FFD59E;
}

::placeholder{
    color: #B7B7B7;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29.26px;
    padding: 25px 0 0 18px
}

#nom{
    width: 395px;
    height: 66px;
    margin: 0 20px 35px 0; 
}

#prenom{
    width: 560px; 
    height: 66px;
}

#courriel, #telephone{
    width: 656px;
    height: 66px;
}

#telephone{
    margin: 35px 0 35px 0; 
}

textarea{
    width: 975px;
    height: 285px;
    resize: none;
}

#soumettre{
    width: 310px; 
    height: 86px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: #FF6738;
    margin: 31px 0 27px 607px;
    border-radius: 5px;
}

/*footer*/

#section-footer{
    background-color: #C4C4C4;  
}

#orange-footer, #effix-footer{
   display: inline-block;
}

#effix-footer{
    width: 262px;
    margin-top: 13px;
}

#orange-footer{
    width: 589px;
    height: 54px;
    background-color: #FF6738;
    margin-top: 37px;
    float: right;
    
}
    
#wrapper-footer{
    padding-left: 87px;
}

#adress{
    padding: 19px 0 79px 0;
    background-color: #C4C4C4;
}

#adress > p{
    color: #000000;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-left: 87px;
}